body{
    padding-left: 50px;
    display: grid;
}
.logo{
    height: 100px;
    width:100px;
    border-radius: 5px;
    margin-left:30px;
    
}
.main_head{
    float:left;
    position: relative;
    left:18%;
    background-color: red;
    margin-left:6%;
    margin-right:2%;
    width:600px;
    padding:10px ;
}
.nav{
    list-style-type:none;
    background-color: black;
    color:white;
}
.nav :hover{
    background-color: mediumaquamarine;
    cursor: default;
}
.paragraph{
width:60%;
float:left
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-color: black;
    color:white;
}a{
    text-decoration: none;
}
nav button


.founder{
    position:relative;
    border:solid;
    width:30%;
    float:right
    
}
.founder img{
    position:absolute;
    top:10px;
}
.right{
    float:left;
    grid-column: ;
}
footer>ul{
    list-style-type: none;
}